<template>
<svg width="12" height="12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>icn/check-circle</title><defs><path d="M7.328 8.243L9.45 6.12a1 1 0 1 1 1.414 1.415l-2.828 2.828a.997.997 0 0 1-1.415 0L5.207 8.95a1 1 0 0 1 1.414-1.414l.707.707zM8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0-2A5 5 0 1 0 8 3a5 5 0 0 0 0 10z" id="a"/></defs><use fill="#000" fill-rule="nonzero" xlink:href="#a"/></svg>
</template>