<template>
  <li>
    {{ todo.text }}
    <button @click="$emit('remove', todo.id)">
      DONe
    </button>
  </li>
</template>

<script>
import Done from "./DoneButton.vue"



export default {
  components: { Done},
  props: {
    todo: {
      type: Object,
      required: true
    }
  }
}
</script>